@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  background: none;
}
html,
body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

* {
  box-sizing: border-box;
}
